body {
    background-image: url("https://thumbs.dreamstime.com/b/map-san-francisco-satellite-view-map-negative-usa-california-palaces-streets-53607806.jpg");
    background-color: #cccccc;
   }

.container{
    display: flex;
  }
  .glass {
    flex: 33.33%;
    padding: 5px;
  }
#city_pic{
        display: block;
        padding-left: 35%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
}
.Voting {
    border: 1px solid black;
    margin: 40px;
    padding: 2rem 2rem;
    text-align: center;
  }
  .thumbs {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }





