body {
    background: turquoise;
  }
  .container{
    display: flex;
  }
  .glass {
    flex: 33.33%;
    padding: 5px;
  }
#city_pic{
        display: block;
        padding-left: 35%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
}
#voting{
        width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
      }